{% extends "generic/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<div class="container my-4">
  <h2>Account dashboard</h2>
  <!--this will only be for buyers!-->
  <p>Buyer account dashboard</p>

  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'orders' %}">My Orders</a>
    <a class="list-group-item list-group-item-action" href="{% url 'addresses' %}">Saved Addresses</a>
    <a class="list-group-item list-group-item-action" href="{% url 'billing' %}">Saved Billing Information</a>
    <a class="list-group-item list-group-item-action" href="{% url 'returns' %}">Returns</a>
    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% endblock %}