{% extends "generic/base.html" %}
{% load static %}
{% block title %}Inventory{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'generic/css/seller.css' %}">
<!-- Header -->
<header class="py-3 position-relative">
  <h1 class="text-center m-0 title">Amplify</h1>
  
  
  <!--Redid the button top right of the page, if the user isnt logged in the login button will be there, if they are logged in it will be account-->
  <div class="topRight">
    {% if request.user.is_authenticated %}
    <a class="LoginContainer" href="{% url 'account' %}">
      <i class="fa fa-user"></i>
      <span>Account</span>
    </a>
    {% else %}
    <a class="LoginContainer" href="{% url 'login' %}">
      <i class="fa fa-user"></i>
      <span>Login</span>
    </a>
    {% endif %}
    
    </div>
  </div>
  
  <!--Search bar with magnifying glass button, that redirects user to the filter catalog page-->
  <div class="container my-3">
    <div class="d-flex justify-content-center">
      <form method="get" action="/api/catalog/" style="max-width: 600px; width:100%;">
        <div class="input-group search">
          <input class="form-control text-center" type="text" name="query" placeholder="Search"/>
          <button class="btn searchIcon" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  
  
  <div class="tabHdrContainer">
    <div class="tabbar">
      <a href="{% url 'sellerInventory' %}" class="btn dashTab {% if active_tab == 'inventory' %}active{% endif %}">Inventory</a>
      <a href="{% url 'sellerOrders' %}" class="btn dashTab {% if active_tab == 'orders' %}active{% endif %}">Orders</a>
      <a href="{% url 'sellerPayouts' %}" class="btn dashTab {% if active_tab == 'orders' %}active{% endif %}">Payouts</a>

    </div>
  </div>
</header>

<div class="container py-4 seller-page">
  <h2>Your Earnings</h2>
  <p><strong>Total Earned:</strong> ${{ total|floatformat:2 }}</p>

  <table class="table">
    <thead>
      <tr>
        <th>Order</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for payout in payouts %}
      <tr>
        <td>#{{ payout.order_item.order.id }}</td>
        <td>{{ payout.order_item.product.name }}</td>
        <td>${{ payout.amount }}</td>
        <td>{{ payout.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}